.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  border-bottom: 1px solid #f3f4f6;
  gap: 20px;

  .header-span {
    padding: 6px;
    &:hover {
      background-color: #f3f4f6;
      border-radius: 5px;
      cursor: pointer;
    }
    .header-antd {
      color: #cd2f2f;
      font-size: 20px;
    }
  }
}
