.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  .user-details {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;

    input {
      padding: 5px 10px;
      background-color: transparent;

      border-radius: 5px;

      font-weight: 600;
    }
  }
}
