.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;

  .menu-links {
    display: flex;
    flex-direction: row;
    // max-height: 45vh;
    min-height: 45vh;
    // width: 8;
    flex: 1;
    text-decoration: none;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    div {
      width: 50%;
      padding-left: 10px;
      padding-bottom: 20px;
      h4 {
        font-weight: 700;
        font-size: 24px;
        width: 50%;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
      }
      button {
        border: none;
        border-radius: 8%;
        margin-top: 25%;
        font-size: 16px;
        padding: 10px 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}

@media (max-width: 950px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 2%;

    .menu-links {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 70vw;
      // flex: 1;
      background-position: 55% 55%;
      div {
        width: 50%;
        padding-left: 10px;
        padding-bottom: 0;
        h4 {
          font-weight: 700;
          font-size: 24px;
          width: 50%;
          text-transform: uppercase;
        }
        p {
          font-size: 15px;
        }
        button {
          border: none;
          border-radius: 8%;
          margin-top: 25%;
          font-size: 16px;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;

    .menu-links {
      display: flex;
      flex-direction: row;
      height: 50vh;
      width: 80vw;
      // flex: 1;
      background-position: 55% 55%;
      div {
        width: 50%;
        padding-left: 10px;
        padding-bottom: 10px;
        h4 {
          font-weight: 700;
          font-size: 24px;
          width: 60%;
        }
        p {
          font-size: 14px;
          width: 60%;
        }
        button {
          border: none;
          border-radius: 8%;
          margin-top: 25%;
          font-size: 16px;
          padding: 10px 15px;
        }
      }
    }
  }
}
